#3c3c3cadding: 0;
	box-sizing: border-box;
}

html,body{
	width: 100%;
	height: 100%;
}

body{
	font-family: Arial, sans-serif;
	background-color: #3C3C3C
}

textarea {
	resize:none;
}

h2{
	font-family: initial;
	margin: 10px auto;
	display: flex;
	justify-content:center;
	color: #d3cad7
}

.inputText{
	margin: 10px 10px 10px;
	height:500px;
	width:800px;
	background-color: #282928;
	color: #fff;
	padding: 10px;
	border: 1px solid;
	border-radius: 15px;
	overflow-x: hidden;
	font-family: inherit;
	font-size: inherit;
	font-weight: 300;
}
   
.button{
	height:25px;
	width:100px;
	margin: 250px 0px 0px 0px;
	background-color: #282928;
	color: #fff;
	font-family: inherit;
	border: 1px solid;
	border-radius: 10px;
	padding: 5px;
	
}

.buttondown {
	background-color: #3c3c3c;
}

.center{
	margin: 0px 0px 0px 95px;
	display: flex;
	flex-wrap: nowrap;
	justify-content:center;
}

.output{
	height:100px;
	width:800px;
	background-color: #282928;
	color: #fff;
	padding: 10px;
	border: 1px solid;
	border-radius: 15px;
	font-family: inherit;
	font-size: inherit;
	font-weight: 300;
}

.outputText{
	display:flex;
	justify-content:center;
}
::-webkit-scrollbar {
width: 10px;
height: 10px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
height: 10px;
background-color: transparent;
}
::-webkit-scrollbar-track-piece  {
background-color: #eeeeee;
-webkit-border-radius: 16px;
}
::-webkit-scrollbar-thumb:vertical {
height: 10px;
background-color: #666;
border: 1px solid #eee;
-webkit-border-radius: 16px;
}